################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bongo/bin/Debug/net7.0/appsettings.json
/Bongo/appsettings.json
/.vs/Bongo/FileContentIndex/5d5a4c36-fbad-41b7-8434-29d151cf53e6.vsidx
/.vs/Bongo/FileContentIndex/6b87b9cb-a6b7-480a-b494-cc02385d527c.vsidx
/.vs/Bongo/FileContentIndex/d2ed7469-f39f-40fa-9ed9-486ffb92e627.vsidx
/.vs/Bongo/FileContentIndex/ffe7a0a7-8139-4ff4-8983-219ab00e8472.vsidx
