################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bongo/bin/Debug/net7.0/appsettings.json
/Bongo/appsettings.json
/.vs/Bongo/FileContentIndex/5d5a4c36-fbad-41b7-8434-29d151cf53e6.vsidx
